# Ignore node_modules
node_modules/

# Ignore build output
dist/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore logs
logs/
*.log

# Ignore environment variables file
.env

# Ignore inputs file
*.input.txt